@import "./partials/index-html/variables";
@import "./partials/index-html/navbar";
@import "./partials/index-html/bunner";
@import "./partials/index-html/footer";
@import "./partials/index-html/slider";
@import "./partials/index-html/news";
@import "./partials/seirler-html/button";
@import "./partials/index-html/fotovideo";


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.scroll-active{
    display: block !important;
}
.active-color{
    background-color: #00628D;
}
.deactive-color{
    background-color: #f5f5f5;
}
html{
    scroll-behavior: smooth;
}

body{
    background-color: #f5f5f5;
    color: #333333;
    font-family: 'Roboto', sans-serif;
}

.transparant{
    left: 0px;
    right: 0px;
    top: 0px;
}

.scroll-icon{
    position: fixed;
    top: 90%;
    left: 90%;
    font-size: 25px;
    cursor: pointer;
    display: none;
}
.scroll-active{
    display: block !important;
}

// preloader
#overlayer{
    width: 100%;
    height: 100%;
    position:fixed;
    z-index: 99999;
    background-color: $primary-color;
    top: 0;
}

.loader{
    display: inline-block;
    width: 30px;
    height: 30px;
    position: fixed;
    left: 50%;
    top: 50%;
    animation: loader 2s infinite ease-in;
    z-index: 99999;
}

.loader-inner{
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
 height: 100%;
}

@keyframes loader{

    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(180deg);
    }
    50%{
        transform: rotate(180deg);
    }

    75%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes loader-inner{
    0%{
        height: 0;
    }
    25%{
        height: 0;
    }
    50%{
        height: 100%;
    }
    
}