@model SaracliKend.Application.Models.PersonModel

    <div class="d-flex mb-3 mt-3">
        <div class="col-lg-3 sekiller">
        <img style="max-width: 182px; height: 158px;" src="~/img/person/@Model.Image" alt="">
        </div>
    <div class="col-lg-9" style="font-weight: bold; font-size: 30px;">
            @Model.Name @Model.Surname
        </div>
    </div>
<p>@Html.Raw(Model.Description)</p>
