#parallax-text{
    .info-2{
        text-align: center;
        position: absolute;
        top: 100px;
        left: 44%;
        margin-top: 28px;
        .other-page{
            color: white;
            text-decoration: none;
            margin-right: 4px;
        }
    }
    
    .info-3{
        left: 16%;  
        p{
            font-size: 36px;
        }
      
    }
}