#banner{
    .col-md-12{
        position: relative;
    }
    .textOnImg{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 85px;
        color: white;
        text-align: center;
        a{  
            display: block;
            width: 100px;
            height: 30px;
            background: #00B0FF;
            border: 1px solid #00B0FF;
            border-radius: 10px;
            text-decoration: none;
            color: white    ;
        }
    }   
}


    @media (max-width: 991px){
        .textOnImg{
            font-size: 9px;
        } 
    }

    @media (max-width: 767px){
        .textOnImg{
          p{
            font-size: 8px;
            width: 515px;
          }
        }
    } 
    @media (max-width: 537px){
        .textOnImg{
            width: 95%;
            position: absolute;
            top: 30px !important;
            p{
                font-size: 7px;
                width: 390px;
            }
        }
    }
    @media (max-width: 469px){
        .textOnImg{
            position: absolute;
            top: 10px !important;
            p{
                font-size: 6px;
                width: 390px;
            }
        }
    }
@media (max-width: 414px){
    .textOnImg{
        a{
            height: 15px !important;
            width: 65px !important;
        }
        p{
            font-size: 5px;
            width: 200px;
        }
    }
}