
#seirler{
        .col-md-4{
            .etrafliButton{
                border: 1px solid #00B0FF;
                border-radius: 10px;
                width: 100px;
                height: 30px;
                text-align: center;
                &:hover{
                    background-color: #00B0FF;
                    transition: 0.5s ease;
                    color: white;
                }
            }
    }
  
}