@model FileCreateVM
@{
    ViewData["Title"] = "Create";
}

<div class="row justify-content-center">
    <div class="col-md-10 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Create Blog</h4>
                <form class="forms-sample" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="hidden" class="form-control text-white " asp-for="FileModel.FileType" value="@Model.FileModel.FileType">
                    </div>
                    <div class="form-group">
                        <label asp-for="FileModel.Name">Name</label>
                        <input class="form-control text-white " asp-for="FileModel.Name">
                        <span asp-validation-for="FileModel.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="File" type="file" class="file-upload-default " id="uploadImg">
                        <div class="input-group col-xs-12">
                            <button class="file-upload-browse btn btn-primary" type="button" id="uploadBtn">Upload File</button>
                        </div>
                        @if (Model.FileModel.FileType == FileType.Image)
                        {
                            <img class="card-img-top fileUploaded d-none" src="" alt="Card image cap" style="max-width: 200px">
                        }
                        else if (Model.FileModel.FileType == FileType.Video)
                        {
                            <video class="mb-2 fileUploaded d-none" style="margin: auto;" controls style="width: 100%">
                            </video>
                        }
                        
                        <span asp-validation-for="File" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary me-2">Submit</button>
                    <a class="btn btn-dark" asp-action="Index">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $("#uploadBtn").click(function myfunction() {
                $("#uploadImg").click();
            })
            $("#uploadImg").change(function (e) {
                const { files } = e.target

                for (const file of files) {
                    const fileReader = new FileReader()

                    fileReader.onloadend = function (e) {
                        const { result } = e.target
                        $(".fileUploaded").removeClass("d-none")
                        $(".fileUploaded").attr("src", result);
                    }
                    fileReader.readAsDataURL(file)
                }
            })
        });

    </script>
}

