#footer{
    .iconlar{
        margin-bottom: 30px;
    }
    .col-md-4{
        margin-top: 40px;
        ul{
            li{
                margin-bottom: 10px;
            }
        }
        .elage{
           display: flex;
           justify-content: center;
        }
     
    }

    @media (max-width: 767px){
        .elage{
            justify-content: start !important;
        }
        .iconlar{
            justify-content: start !important;
            align-items: start !important;
        }
}
}